<section class="card bg-base-100 shadow-sm" data-controller="swiper">
  <div class="card-body">
    <div class="flex flex-wrap items-center justify-between gap-3">
      <h2 class="card-title text-sm font-semibold">今日のログ</h2>

      <div class="flex gap-2" role="tablist" aria-label="今日のログ切替">
        <button
          type="button"
          role="tab"
          data-index="0"
          data-swiper-target="tab"
          data-action="click->swiper#slideTo"
          class="px-3 py-1 text-sm font-semibold rounded-btn"
          aria-selected="true"
        >
          気分
        </button>

        <button
          type="button"
          role="tab"
          data-index="1"
          data-swiper-target="tab"
          data-action="click->swiper#slideTo"
          class="px-3 py-1 text-sm font-semibold rounded-btn"
          aria-selected="false"
        >
          習慣
        </button>
      </div>
    </div>

    <div class="swiper w-full mt-4" data-swiper-target="container">
      <div class="swiper-wrapper">

        <!-- 気分ログ -->
        <div class="swiper-slide">
          <div class="h-64 overflow-y-auto pr-1">
            <!-- ログカード一覧 -->
            <!-- ログがない場合の表示 -->
            <div id="mood_logs_home_empty" class="space-y-2">
              <% if @mood_logs_today.empty? %>
                <%= render "home/partials/empty_card_home", msg: "気分ログ" %>
              <% end %>
            </div>
            <!-- ログカード -->
            <div id="mood_logs_home" class="space-y-2">
              <% if @mood_logs_today.present? %>
                <% @mood_logs_today.each do |mood_log| %>
                  <%= render "home/partials/card_mood_log_home", mood_log: mood_log %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- 習慣ログ -->
        <div class="swiper-slide">
          <div class="h-64 overflow-y-auto pr-1">
            <!-- ログカード一覧 -->
            <!-- ログがない場合の表示 -->
            <div id="habit_logs_home_empty" class="space-y-2">
              <% if @habit_logs_today.empty? %>
                <%= render "home/partials/empty_card_home", msg: "習慣ログ" %>
              <% end %>
            </div>

            <!-- ログカード -->
            <div id="habit_logs_home" class="space-y-2">
              <% if @habit_logs_today.present? %>
                <% @habit_logs_today.each do |habit_log| %>
                  <%= render "home/partials/card_habit_log_home", habit_log: habit_log %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- ページネーション -->
      <div class="swiper-pagination"></div>
      <!-- リンク -->
      <div class="w-[90%] mx-auto flex gap-4 mt-2 justify-center">

        <%= link_to "#review_path",
            class: "btn btn-primary btn-sm flex-1 px-3 flex items-center justify-center gap-2" do %>
          <%= heroicon "pencil-square", variant: :outline, options: { class: "h-4 w-4" } %>
          振り返り
        <% end %>

        <%= link_to "#logs_path",
            class: "btn btn-outline btn-sm flex-1 px-3 flex items-center justify-center gap-2" do %>
          <%= heroicon "calendar-days", variant: :outline, options: { class: "h-4 w-4" } %>
          ログ一覧
        <% end %>

      </div>
    </div>
  </div>
</section>
