<section class="card bg-base-100 shadow-sm" data-controller="swiper">
  <div class="card-body">
    <div class="flex flex-wrap items-center justify-between gap-3">
      <h2 class="card-title text-sm font-semibold">今日の行動</h2>

      <div class="flex gap-2" role="tablist" aria-label="今日の行動切替">
        <button
          type="button"
          role="tab"
          data-index="0"
          data-swiper-target="tab"
          data-action="click->swiper#slideTo"
          class="px-3 py-1 text-sm font-semibold rounded-btn"
          aria-selected="true"
        >
          毎日
        </button>

        <button
          type="button"
          role="tab"
          data-index="1"
          data-swiper-target="tab"
          data-action="click->swiper#slideTo"
          class="px-3 py-1 text-sm font-semibold rounded-btn"
          aria-selected="false"
        >
          毎週
        </button>

        <button
          type="button"
          role="tab"
          data-index="2"
          data-swiper-target="tab"
          data-action="click->swiper#slideTo"
          class="px-3 py-1 text-sm font-semibold rounded-btn"
          aria-selected="false"
        >
          毎月
        </button>
      </div>
    </div>

    <div class="swiper w-full mt-4" data-swiper-target="container">
      <div class="swiper-wrapper">

        <!-- 今日 -->
        <%= render "home/partials/habit_slide",
                    tab: "today",
                    habits: @habits_today %>

        <!-- 今週 -->
        <%= render "home/partials/habit_slide",
                    tab: "this_week",
                    habits: @habits_this_week %>


        <!-- 今月 -->
        <%= render "home/partials/habit_slide",
                    tab: "this_month",
                    habits: @habits_this_month %>

      </div>
      <!-- ページネーション -->
      <div class="swiper-pagination"></div>
    </div>

    <!-- リンク -->
    <div class="w-[90%] mx-auto flex gap-4 mt-2">

      <%= link_to new_habit_path,
          class: "btn btn-primary btn-sm flex-1 px-3 flex items-center justify-center gap-2" do %>
        <%= heroicon "plus", variant: :outline, options: { class: "h-4 w-4" } %>
        行動追加
      <% end %>

      <%= link_to habits_path,
          class: "btn btn-outline btn-sm flex-1 px-3 flex items-center justify-center gap-2" do %>
        <%= heroicon "bars-3", variant: :outline, options: { class: "h-4 w-4" } %>
        行動一覧
      <% end %>

    </div>
  </div>
</section>

