<dialog open class="modal modal-open" data-controller="modal">
  <div class="modal-box bg-base-100">
    <div class="space-y-6">

      <!-- タイトル -->
      <div class="flex items-center justify-between border-b border-base-300 pb-2">
        <h3 class="font-bold text-lg text-base-content">
          📘 習慣の詳細
        </h3>

        <% if @habit.category.present? %>
          <span class="badge badge-outline text-xs">
            <%= @habit.category.icon %> <%= @habit.category.name %>
          </span>
        <% end %>
      </div>

      <!-- 基本情報 -->
      <div class="space-y-3 text-sm">

        <!-- 習慣名 -->
        <p>
          <span class="font-semibold text-base-content/80">習慣名：</span>
          <%= @habit.name %>
        </p>

        <!-- 説明 -->
        <% if @habit.description.present? %>
          <div class="bg-base-200/60 rounded-lg p-3">
            <div class="font-semibold text-base-content/80 mb-1">説明：</div>
            <div class="whitespace-pre-wrap break-words text-base-content/70"
            ><%= @habit.description %></div>
          </div>
        <% end %>

        <!-- 目標 -->
        <% if @habit.goal.present? %>
          <div class="bg-base-200/60 rounded-lg p-3 space-y-1">
            <div class="font-semibold text-base-content/80 mb-1">目標：<%= @habit.goal.display_goal %></div>

            <div class="font-semibold text-base-content/80 mb-1">期間：<%= @habit.goal.display_period %></div>

          </div>
        <% end %>
      </div>

      <!-- アクション -->
      <div class="modal-action flex justify-between items-center pt-4 border-t border-base-300">

        <div class="flex gap-2">

          <!-- 実行 -->
          <%= link_to "実行",
                      "#habit_logs_path(habit_id: @habit.id)",
                      data: { turbo_method: :post },
                      class: "btn btn-primary btn-sm" %>

          <!-- 編集 -->
          <%= link_to "編集",
                      edit_habit_path(@habit),
                      data: { turbo: false },
                      class: "btn btn-outline btn-primary btn-sm" %>

          <!-- 削除 -->
          <%= link_to "削除",
                      habit_path(@habit),
                      data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                      class: "btn btn-outline btn-error btn-sm" %>
        </div>

        <button type="button"
                data-action="click->modal#close"
                class="btn btn-sm btn-outline h-9 min-h-9 px-4">
          閉じる
        </button>
      </div>

    </div>
  </div>
</dialog>
