<div class="w-full max-w-md mx-auto">

  <div class="flex justify-between items-end mb-4">
    <h2 class="text-xl font-semibold">習慣一覧</h2>
    <!-- 習慣追加 -->
    <%= link_to new_habit_path,
        class: "btn btn-primary btn-sm gap-1 rounded-full flex items-center" do %>
      <%= heroicon "plus", variant: :outline, options: { class: "h-4 w-4" } %>
      追加
    <% end %>
  </div>

  <div class="space-y-6">
    <!-- 有効 -->
    <section class="card bg-base-100 shadow-sm">
      <div class="card-body">
        <h3 class="text-lg font-bold">有効な習慣</h3>

        <!-- Daily -->
        <h4 class="text-base font-semibold">毎日</h4>
        <% if @daily_habits.present? %>
          <div class="space-y-2">
            <% @daily_habits.each do |habit| %>
              <%= render "habits/habit_index_card", habit: habit %>
            <% end %>
          </div>
        <% else %>
          <div class="flex items-center justify-center w-full">
            <div class="w-[95%] rounded-xl bg-base-200 p-3 shadow-sm h-14
                        flex items-center justify-center text-center">
              <p class="text-sm text-base-content/60">
                毎日の習慣はまだありません。
              </p>
            </div>
          </div>
        <% end %>

        <!-- Weekly -->
        <h4 class="text-base font-semibold">毎週</h4>
        <% if @weekly_habits.present? %>
          <div class="space-y-2">
            <% @weekly_habits.each do |habit| %>
              <%= render "habits/habit_index_card", habit: habit %>
            <% end %>
          </div>
        <% else %>
          <div class="flex items-center justify-center w-full">
            <div class="w-[95%] rounded-xl bg-base-200 p-3 shadow-sm h-14
                        flex items-center justify-center text-center">
              <p class="text-sm text-base-content/60">
                毎週の習慣はまだありません。
              </p>
            </div>
          </div>
        <% end %>

        <!-- Monthly -->
        <h4 class="text-base font-semibold">毎月</h4>
        <% if @monthly_habits.present? %>
          <div class="space-y-2">
            <% @monthly_habits.each do |habit| %>
              <%= render "habits/habit_index_card", habit: habit %>
            <% end %>
          </div>
        <% else %>
          <div class="flex items-center justify-center w-full">
            <div class="w-[95%] rounded-xl bg-base-200 p-3 shadow-sm h-14
                        flex items-center justify-center text-center">
              <p class="text-sm text-base-content/60">
                毎月の習慣はまだありません。
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </section>

    <!-- 下書き -->
    <section class="card bg-base-100 shadow-sm">
      <div class="card-body">
        <h3 class="text-lg font-bold mb-2">下書き</h3>
        <% if @draft_habits.present? %>
          <div class="space-y-2">
            <% @draft_habits.each do |habit| %>
              <%= render "habits/habit_index_card", habit: habit %>
            <% end %>
          </div>
        <% else %>
          <div class="flex items-center justify-center w-full">
            <div class="w-[95%] rounded-xl bg-base-200 p-3 shadow-sm h-14
                        flex items-center justify-center text-center">
              <p class="text-sm text-base-content/60">
                下書きの習慣はありません。
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </section>

    <!-- 達成済み -->
    <section class="card bg-base-100 shadow-sm space-y-2">
      <div class="card-body">
        <h3 class="text-lg font-bold mb-2">達成済み</h3>
        <% if @achieved_habits.present? %>
          <div class="space-y-2">
            <% @achieved_habits.each do |habit| %>
              <%= render "habits/habit_index_card", habit: habit %>
            <% end %>
          </div>
        <% else %>
          <div class="flex items-center justify-center w-full">
            <div class="w-[95%] rounded-xl bg-base-200 p-3 shadow-sm h-14
                        flex items-center justify-center text-center">
              <p class="text-sm text-base-content/60">
                達成済みの習慣はありません。
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </section>

  </div>
</div>
