<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title><%= content_for(:title) || "kokolog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-base-200 min-h-screen flex flex-col">
    <!-- 簡易フラッシュメッセージ -->
    <p class="text-green-600 text-center"><%= notice %></p>
    <p class="text-red-600 text-center"><%= alert %></p>

    <%= render 'shared/header' %>

    <main class="flex-grow flex justify-center">
      <div class="w-full max-w-md px-4 py-6">
        <%= yield %>
      </div>
    </main>

    <% if user_signed_in? %>
      <%= render "shared/footer_signed_in" %>
    <% else %>
      <%= render "shared/_footer" %>
    <% end %>
  </body>
</html>
