<html data-theme="kokolog">
  <head>
    <title><%= content_for(:title) || "kokolog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-base-200 min-h-screen flex flex-col">

    <%= render 'shared/header' %>

    <%= turbo_frame_tag 'flash_area' do %>
      <%= render 'shared/flash' %>
    <% end %>

    <main class="flex-grow flex justify-center">
      <div class="w-full max-w-md px-4 py-6">
        <%= yield %>
      </div>
    </main>

    <% if user_signed_in? %>
      <%= render "shared/footer_signed_in" %>
    <% end %>

    <%= render "shared/footer_copyright" %>
    <!-- 共通Turboフレーム -->
    <%= turbo_frame_tag 'modal' %>
  </body>
</html>
